.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    margin-top: 70px;
    
  }
  
  .card {
    background-color: #3d3d3d;
    border-radius: 10px;
    width: 200px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 9px 8px rgba(0, 0, 0, 0.696);
  }
  
  .card-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .name{
    text-transform: uppercase;
  }

  span{
    font-weight: 600;
  }
  