.team-container {
  display: flex;
	justify-content: center;
	align-items: center;
  gap: 1.5rem;
	height:100vh; 
  width: 100vw; 
  padding: 1rem;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0 auto;
  }
  
  .member {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(5, 37, 195, 0.732);
    width: 250px;
    box-sizing: border-box;
  }
  
  .member img {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
    color: #040c15;
  }

  .member h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #040c15;
  }
  
  .member p{
    margin: 0.5rem 0;
    text-align: center;
    justify-content: center;
  }

  .member a {
    color: #040c15;
    text-decoration: none;
  }

  .member a:hover{
    text-decoration: underline;
  }

  @media (max-width: 768px){
    .team-container{
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      padding: 1rem;
    }

    .member img{
      max-width: 120px;
    }

    .member h3{
      font-size: 1rem;
    }
  }