.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	margin: auto;
  }
  

  
  .menu-icon {
	display: none; /* Oculto por defecto */
	font-size: 28px;
	cursor: pointer;
	color: white;
  }
  
  .nav-menu {
	display: flex;
	list-style: none;
	text-align: center;
	gap: 10px;
  }
  
 
  .navbar button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	color: white;
  }
  
  .navbar button:hover {
	background-color: #4141418e;
	color: white;
	border-radius: 7px;
  }
  
  /* Estilos Responsive */
  @media screen and (max-width: 768px) {
	.menu-icon {
	  display: block; /* Muestra el icono de menú en pantallas pequeñas */
	  margin-left: -190px;
	 
	}
  
	.nav-menu {
	  display: flex;
	  flex-direction: column;
	  position: absolute;
	  align-items: center;
	  top: 40px;
	  left: -120%;
	  width: 100%;
	  background-color: black;
	  transition: all 0.5s ease;
	  padding-left: -0px;
	}


  
	.nav-menu.active {
	  left: 0; /* Muestra el menú cuando está activo */
	  
	}
  
	.nav-item {
	  margin: 20px 0px;
	}
  }
  